<header class="bg-dark text-white p-3 header-with-shadow">
  <div class="div-header">
    <i class="fas fa-car fa-2x"></i>
    <h1 class="my-0">Estacionamento Segurança Total</h1>
  </div>
</header>

<main class="row" style="width: 100%; align-items: start;">
  <app-cadastro-editar class="col-6"  style="border-right: 1px solid #ccc; padding-right: 15px;"></app-cadastro-editar>
  <app-tabela class="col-6"></app-tabela>
</main>


<footer>
  &copy; 2023 Thaís Alencar. Todos os direitos reservados.
</footer>
