<header class="bg-dark text-white p-3 header-with-shadow">
  <div class="div-header">
    <i class="fas fa-car fa-2x"></i>
    <h1 class="my-0">Estacionamento Segurança Total</h1>
  </div>
</header>


<main class="row" style="width: 100%; align-items: start;">


  <app-cadastro-editar class="col-4" style="border-right: 1px solid #ccc; padding-right: 15px; height: 80vh;" [resetForm]="resetForm" [ehPesquisaInput]="ehPesquisaInput" [veiculos]="veiculos"
    (veiculoCadastrado)="veiculoCadastrado($event)"  (veiculoAlterado)="veiculoAlterado($event)"></app-cadastro-editar>

  <div class="col-8" style="height: 80vh;">
    <div class="form-group col-12" style="display: flex; justify-content: flex-end; margin-bottom: 1rem; align-items: center;">
      <mat-icon class="rotated-element ">search</mat-icon>
      <input type="number" class="form-control" placeholder="Pesquisar por código..."
        style="width: auto; margin-left: .5rem;" #codigoVeiculo (keyup)="buscarVeiculo(codigoVeiculo.value)">
    </div>
    <app-tabela  [veiculos]="veiculos" [ehInclusaoVeiculo]="ehInclusaoVeiculo" (veiculoDeletado)="veiculoDeletado($event)"></app-tabela>
  </div>

</main>


<footer>
  &copy; 2023 Thaís Alencar. Todos os direitos reservados.
</footer>