<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Tipo</th>
            <th scope="col">Modelo</th>
            <th scope="col">Placa</th>
            <th scope="col">Cor</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let veiculo of veiculosPaginados">
            <th scope="row">{{veiculo.codigo}}</th>
            <td>{{veiculo.tipo}}</td>
            <td>{{veiculo.modelo}}</td>
            <td>{{veiculo.placa}}</td>
            <td>{{veiculo.cor}}</td>
            <td style="text-align: center;"> <mat-icon class="text-danger"  style="cursor: pointer;" (click)="openDialog(veiculo)">delete</mat-icon></td>
        </tr>
    </tbody>

    <tbody *ngIf="veiculos.length == 0">
        <tr>
            <td colspan="5" style="text-align: center;"> Não há veículos para serem exibidos.</td>
        </tr>
    </tbody>

</table>

<div class="d-flex justify-content-end p-2">
    <ngb-pagination [collectionSize]="collection" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="pageChange($event)">
    </ngb-pagination>
</div>